@font-face {font-family: "Aire Bold Std";
  src: url("/fonts/aire.eot");
  src: url("/fonts/aire.eot?#iefix") format("embedded-opentype"),
  url("/fonts/aire.woff2") format("woff2"),
  url("/fonts/aire.woff") format("woff"),
  url("/fonts/aire.ttf") format("truetype"),
  url("/fonts/aire.svg") format("svg");
}

@font-face {font-family: "Fine Style";
  src: url("/fonts/finestyle.eot");
  src: url("/fonts/finestyle.eot?#iefix") format("embedded-opentype"),
  url("/fonts/finestyle.woff") format("woff"),
  url("/fonts/finestyle.ttf") format("truetype"),
  url("/fonts/finestyle.svg#Fine Style") format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stop-scrolling {
    /* overflow: hidden;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100vh; */
}

button:focus {outline:0;}

header {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  right:0;
  z-index: 1000;
  /* display:none; */
}

nav {
  background-color:  rgba(231, 231, 203, 0.75);
  padding-bottom: 2.1%;
}

nav a {
  color: #535e55;
  /* text-transform: uppercase; */
  margin:0 0.5%;
  /* text-shadow: 0px 0px 2px #000; */
  font-family: "Aire Bold Std";
  font-weight: bold;
  font-size: 1.4rem;
}

nav a:link, a:visited {
  text-decoration: none;
  text-shadow: 1px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  /* padding: 0 10%; */
  /* background: rgb(231, 231, 203); */
}

.leafHolder {
  width: 100%;
  height: 20px;
}

h1, h2 {
  font-family: "Aire Bold Std";
  letter-spacing: 0.25ch;
  font-size: 60px;
  font-weight: lighter;
  transform: scale(1, 1.4);
}

.normalFont {
  font-family: "Fine Style";
  font-size: 50px;
}

.horizontalBlade {
  width:100%;
  margin-top: -8%;
}

.horizontalWrapper {
  width: 100%;
  background: rgb(231, 231, 203);
  border-bottom: 2px dashed rgb(255, 255, 223) ;
}

.horizontalInner {
  margin: 0 auto;
  height: 0;
  width:20vw;
}

.leafHeader {
  background-image: url("/images/leaf-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.leafFooterContainer {
  width: 100%;
  overflow: hidden;
  opacity: 0.5;
}

.leafFooter {
  width: 100%;
}

.fullPane {
  min-height: 100vh;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(91, 155, 118); */
  background: rgb(231, 231, 203);
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
  .fullPane {
    height: 100vh;
  }
}

.fullPane h1 {
  /* color:white; */
  color: #363c3f;
  text-align: center;
  margin: 0;
  align-self: center;
  /* text-shadow: 1px 1px 2px #000; */
}

.rsvp {
  color:#363c3f;
}

.normalPane {
  min-height: 100vh;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(91, 155, 118); */
  background: rgb(231, 231, 203);
}

.fullPane h1.padTop {
  margin-top: 5%;
}

@media only screen and (min-width: 668px) and (max-width: 1160px)  {
  .fullPane h1.padTop {
    margin-top: 6.5%;
  }
}

@media only screen and (min-width: 755px) and (max-width: 1000px)  {
  .leafHeader {
    background-size: 150%;
    background-position-x: 50%;
  }
}

@media only screen and (min-width: 668px) and (max-width: 755px)  {
  .leafHeader {
    background-size: 200%;
    background-position-x: 50%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 667px)  {
  .leafHeader {
    background-size: 200%;
    background-position-x: 50%;
  }
}

@media only screen and (max-width: 480px)  {
  .leafHeader {
    background-size: 350%;
    background-position-x: 50%;
  }
}

/* Small */
@media only screen and (max-width: 480px)  {
  h1 {
    font-size: 30px;
  }

  .normalFont {
    font-size: 25px;
  }

  .hidden {
    display: none;
  }

  header {
    background-color:  rgba(245, 245, 219, 0.6);
    text-align: right;
  }

  header.is-active {
    height:100%;
    background-color: rgb(228, 228, 195);
  }

  nav {
    background: none;
    border-top: 2px dashed white;
    padding-top: none !important;
  }

  nav a {
    display: block;
    padding-top: 20px;
    text-align: right;
    text-transform: uppercase;
    padding-right: 15px;
    font-size: 5vh;
    border-bottom: 2px dashed white;
    padding-bottom: 15px;
  }

  .horizontalInner {
    width: 50vw;
  }

  .fullPane h1.padTop {
    margin-top: 8%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 667px)  {
  h1 {
    font-size: 30px;
  }

  .normalFont {
    font-size: 25px;
  }

  .hidden {
    display: none;
  }

  header {
    background-color:  rgba(245, 245, 219, 0.6);
    text-align: right;
  }

  header.is-active {
    height:100%;
    background-color: rgb(228, 228, 195);
  }

  nav {
    background: none;
    border-top: 2px dashed white;
    padding-top: none !important;
  }

  nav a {
    display: block;
    padding-top: 10px;
    text-align: right;
    text-transform: uppercase;
    padding-right: 15px;
    font-size: 5vh;
    border-bottom: 2px dashed white;
    padding-bottom: 10px;
  }

  .horizontalInner {
    width: 50vw;
  }

  .fullPane h1.padTop {
    margin-top: 8%;
  }
}

@media only screen and (min-width: 668px) and (max-width: 1230px) {
  .horizontalInner {
    width: 30vw;
  }
}

/* Big */
@media only screen and (min-width: 668px) {
  .hamburger {
    display: none !important;
  }

  nav {
    padding-top: 2%;
  }
}