.timelineWrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

ul.timeline {
    list-style: none;
    font-family: "Aire Bold Std";
    margin-top:45px;
    margin-bottom: 100px;
    padding: 0;
    width: 100%;
}

ul.timeline li {
    display: flex;
    width: 100%;
}

ul.timeline li:last-child {
    border: 0;
}

ul.timeline li p {
    display: block;
    padding: 20px;
    line-height: 1.4;
    margin: 0;
}

ul.timeline li p:nth-child(1) {
    position: relative;
    /* font-size: 14px; */
    line-height: 2;
    color:  rgb(119, 126, 92);;
    width: 44%;
    text-align: right;
    font-weight: bolder;
}

ul.timeline li p:nth-child(1):after {
    content: '';
    position: absolute;
    top: 25px;
    right: -8px;
    display: block;
    width: 8px;
    height: 8px;
    border: 3px solid rgb(119, 126, 92);
    border-radius: 50%;
    background: rgb(119, 126, 92);
}

ul.timeline li p:nth-child(2) {
    flex: 1;
    font-size: 24px;
    border-left: 2px dashed rgb(119, 126, 92);
    width: 56%;
}

@media only screen and (max-width: 632px)  {
    ul.timeline li p:nth-child(1) {
        width: 12%;
    }

    ul.timeline li p:nth-child(2) {
        width: 88%;
    }
}

@media only screen and (min-width: 633px) and (max-width: 875px)  {
    ul.timeline li p:nth-child(1) {
        width: 40%;
    }

    ul.timeline li p:nth-child(2) {
        width: 60%;
    }
}